.container {
	background-image: url('/assets/ivy.jpg');
  background-size: cover;
	width: 1100px;
  height: 1100px;
  position: relative;
}

.laser-cannon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 80px;
  margin-left: -25px;
  margin-top: -25px;
}