<img class="turret right test" src="./assets/pixie.png">
<img class="turret left test" src="./assets/pixie.png">
<img class="turret right test" src="./assets/pixie.png">
<img class="turret left test" src="./assets/pixie.png">
<img class="turret right test" src="./assets/pixie.png">
<img class="turret left test" src="./assets/pixie.png">
<img class="turret right test" src="./assets/pixie.png">
<img class="turret left test" src="./assets/pixie.png">
<img class="turret right test" src="./assets/pixie.png">
<img class="turret left test" src="./assets/pixie.png">
<img class="turret right test" src="./assets/pixie.png">
<img class="turret left test" src="./assets/pixie.png">
<img class="turret right test" src="./assets/pixie.png">
<img class="turret left test" src="./assets/pixie.png">
<img class="turret right test" src="./assets/pixie.png">
<img class="turret left test" src="./assets/pixie.png">